.assist-drawer {
  color: #333;
  .ant-drawer-content-wrapper {
    top: 61px;
    height: calc(100% - 61px);
  }
  .ant-drawer-close {
    right: inherit;
    left: 0;
  }
  .ant-drawer-title {
    text-align: center;
  }
  .ant-drawer-body {
    padding: 0;
    height: calc(100% - 55px);
  }
  .assist-drawer-con {
    padding: 24px;
    height: calc(100% - 53px);
    overflow-y: auto;
  }
  .drawer-full-screen {
    float: left;
    margin-left: 32px;
    color: rgba(0, 0, 0, .45);
    font-size: 14px;
    cursor: pointer;
    i {
      border: 1px solid rgba(0, 0, 0, 0.45);
    }
  }
  .drawer-full-screen:hover {
    color: #444;
    i {
      border-color: #444;
    }
  }
  >div {
    transition: .3s;
  }
}