.notice-content {
  .btnOperate {
    margin-left: 15px;
  }
  .content-top {
    padding: 20px;
  }
  .noticeDetail {
    padding: 24px 0;
    border-bottom: 1px solid #eee;
  }
  .noticeAll {
    color: #333;
    .header-info {
      margin-right: 45px;
    }
  }
  .noticeContent {
    padding: 24px 0;
  }
}