body {
  background: #f4f4f4;

}

ul {
  list-style: none;
  margin-bottom: 0;
}

.banner {
  width: 100%;
  z-index: 999;
  transition: 0.3s ease;
  line-height: 60px;
  height: 60px;
}
.photograph{
  width: 117px;
  height: 33px;
  margin: 13px 0;
  background-image: url(/images/logo-a.png);
}

.banner .logo {
  float: left;
  margin:0 30px ;
  
}

.left {
  list-style: none;
  height: 30px;
  float: left;
  font-weight: 400;
}
.left li {
  float: left;
  font-size: 18px;
  color: white;
  padding-right: 18px;
}
.right {
  list-style: none;
  float: right;
  margin-bottom: 0;
}
.right li {
  float: right;
  padding-right: 18px;
}
.header-nav{
  cursor: pointer;
}

.footer ul {
  float: left;
}
.enrol:hover{
 border-color: #63e5ab !important;
 color: #63e5ab !important;
}

.footer ul li a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(72, 72, 72, 1);
  height: 38px;
  line-height: 38px;
  text-decoration: none;
}

.footer ul {
  padding-right: 30px;
}

.footer .first {
  padding-top: 61px;
  padding-bottom: 31px;
}

.footer .first a {
  font-size: 20px;
  font-weight: 400;
  color: rgba(72, 72, 72, 1);
  height: 38px;
  line-height: 38px;
  text-decoration: none;
}

.footer .header {
  overflow: hidden;
}

.footer .bottom {
  text-align: center;
}

.footer .bottom p a {
  color: #333;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
}

.desc {
  padding-bottom: 70px;
}

.desc p {
  height: 44px;
  line-height: 44px;
  color: (0, 0, 0, 1);
  font-weight: 400;
  font-size: 34px;
  margin: 0 auto;
  margin-top: 25px;
}

.item {
  width: 340px;
  height: 220px;
  background: #e2e4e9;
  border-radius: 3px;
  margin-top: 84px;
  text-align: center;
  transition: 0.3s ease;
  margin-bottom: 30px;
}

.item-a {
  overflow: hidden;
  padding-top: 10px;
  height: 230px;
}

.item .title {
  height: 32px;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: -8px;
  transition: 0.3s ease;
  overflow: hidden;
}

.item p {
  padding: 0 24px;
  font-size: 14px;
  color: #4c545c;
  height: 45px;
  line-height: 28px;
  transition: all 0.3s ease;
  
}

.item i {
  cursor: pointer;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0));
  transform: skewx(-25deg);
  -o-transform: skewx(-25deg);
  -moz-transform: skewx(-25deg);
  -webkit-transform: skewx(-25deg);
}

.sort:hover {
  background: white;
}

.item:hover i {
  left: 100%;
  transition: 0.3s ease;
}

.sort:hover .title {
  opacity: 0;
}

.sort:hover p {
  transform: translateY(-50px);

}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px gray;
}

.sort:hover .picture {
  transform: scale(0.8);
}

.picture {
  width: 100px;
  height: 100px;
  background-image: url(/images/avatar/sytb.png);
  background-color: white;
  border-radius: 50%;
  margin: -50px auto 0;
  transition: 0.3s ease;
}

.indicators {
  width: 64px;
  height: 64px;
  border: 1px solid gray;
  border-radius: 50%;
  background-image: url(/images/avatar/psttb.png);
  background-position-y: -19px;
  background-color: #fff;
  margin: 0 auto;
  transition: 0.3s;
}
.indicators:hover{
  background-position-y: 82px;
  background-color: #4593ff;
  border-color: #4593ff;
}
.indicators-1{
  background-position-x: -19px;
}
.indicators-2{
  background-position-x: -119px;
}
.indicators-3{
  background-position-x: -219px;
}
.indicators-4{
  background-position-x: -319px;
}
.indicators-5{
  background-position-x: -419px;
}
.indicators-6{
  background-position-x: -519px;
}
.indicators-7{
  background-position-x: -619px;
}


.picture-1 {
  background-position: -4px -3px;
}

.picture-2 {
  background-position: -100px 0px;
}

.picture-3 {
  background-position: -191px 1px;
}

.picture-4 {
  background-position: -300px -1px;
}

.picture-5 {
  background-position: -400px 0px;
}

.picture-6 {
  background-position: -500px 0px;
}

.picture_a {
  background-image: url(/images/avatar/sytb.png);
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.picture_a-1 {
  background-position: -16px -114px;
}

.picture_a-2 {
  background-position: -115px -114px;
}

.picture_a-3 {
  background-position: -216px -114px;

}

.picture_a-4 {
  background-position: -317px -114px;

}

.picture_a-5 {
  background-position: -417px -114px;

}

.picture_a-6 {
  background-position: -516px -114px;
}

.item-a .details {
  color: white;
}

.problem {
  width: 100%;
}

.value {
  width: 100%;
}

.function {
  width: 100%;
  height: 800px;
}
.function .carousel-indicators .active .indicators{
  background-position-y: 82px;
  background-color: #4593ff;
  border-color: #4593ff;

}
.function  .carousel:hover .carousel-control-next-icon, .function  .carousel:hover .carousel-control-prev-icon{
 visibility: visible;
}
.function .carousel-control-prev-icon{
  visibility: hidden;
  background: no-repeat top/100% 200%;
  background-image: url(/images/avatar/jt.png);
  width: 48px;
  height: 92px;
  transition: 0.3s;
}
.function .carousel-control-next-icon{
  visibility: hidden;
  background: no-repeat bottom/100% 200%;
  background-image: url(/images/avatar/jt.png);
  width: 48px;
  height: 92px;
  transition: 0.3s;
}

.function .feat p {
  font-size: 34px;
  height: 44px;
  line-height: 44px;
  margin: 0 auto;
  margin-top: 43px;
  margin-bottom: 43px;
}

.find {
  width: 100%;
  padding-bottom: 50px;
}

.find .understand p {
  font-size: 34px;
  margin: 0 auto;
  margin-top: 43px;
  margin-bottom: 50px;
}

.use {
  width: 100%;
  height: 300px;
  background: url(/images/avatar/zcbj.png) no-repeat;
}

.use .apply .caption p {
  font-size: 34px;
  margin: 0 auto;
}

.photo {
  background-image: url(/images/avatar/sytb.png);
  background-size: 400px 400px;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.photo-a {
  position: relative;
  left: 88px;
  top: 21px;
  width: 177px;
  height: 26px;
  margin: 0 auto;
  background-position: 21px 55px
}

.step {
  text-align: center;
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}

.detail {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.photo-1 {
  background-position: 267px -266px;
}

.photo-2 {
  background-position: 201px -266px;
}

.photo-3 {
  background-position: 134px -266px;
}

.photo-4 {
  background-position: 67px -266px;
}

.use .apply .login {
  margin-top: 40px;
  padding-left: 250px;
}

.use .apply .login input {
  width: 480px;
  height: 56px;
  background: #ffffff;
  border-radius: 3px;
}

.use .apply .login button {
  width: 140px;
  height: 56px;
  border-radius: 3px;
  margin-left: 20px;
}

.bannerleft {
  height: 225px;
}

.carousel-indicators li:hover {
  background-color: blue;
}

button.frame:focus {
  box-shadow: 0 0 0 0.2rem #4ce6d0;
}