$theme-color: #0084FF; // 主题色
$base-btn-color: #1890ff;; // 主题按钮颜色
$base-placeholder-color: #8590A6; 
$err-color: #e4393c; 
$base-font-color:#646464;// 主题字体黑色
$disabled-btn:rgba(64,169,255,.8); // 不可点击时颜色
.icons{
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.errors{
   color: $err-color; 
}
.re-top{
    color:$theme-color;
    margin-top:calc(10% - 10px);
    .re-wapper{
        padding:38px 20px 20px 20px;
    }
    a:hover{
        text-decoration: none;
    }
}

.re-panel,.login-panel,.reset-panel{
    margin: 3% auto 0;
    max-width: 480px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.re-propaganda{
    padding-top:38px;
    margin-bottom:20px;
    font-size:26px;
    color:$theme-color;
}
.re-item{
    padding:0;
    display: inline-block;
}
.re-input {
    border: none;
    outline: none;
}
.login-input{
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
    line-height: 1.6em;
    color: $base-font-color;
    font-size: 14px; 
}

.login-input:focus{
    border-color: #00a0e0;
}
.login-input::placeholder{
    font-size: 16px;
    color:$base-placeholder-color;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100px white inset;
    -webkit-text-fill-color: #333;
}
.login-line{
    margin-top: 10px;
    height: 1px;
    background: #ccc;
}
.re-btn{
    padding:6px 12px;
    background:$base-btn-color;
    border:none;
    font-size: 18px;
    font-weight:400;
    color:#fff;
}
.re-defaults{
    color:$base-placeholder-color;
}
.re-bottom{
    padding-top: 15px;
    border-top: 1px solid #eee;
    text-align: center;
    font-size:16px;
    color:#4D4D4D;
}
.re-bottom a{
    color:$theme-color;
}
.err-tips{
    color:$err-color;
}
.re-codemess{
    display: inline-block;
    width: 94px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    background: $base-btn-color;
    border: none;
    cursor: pointer;
    text-align: center;
}
.login-panel{
    max-width: 430px;
}
.login-invisible,.login-visible{
    display:inline-block;
    position: relative;
    float: right;
    top:-25px;
    right:4px;
    width:21px;
    height: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAXCAMAAADNyMQcAAAAclBMVEUAAACFkKaFkKaFkKaFkKaEkKaFkKWFkKWEkKeEj6aFkKaFkKaFkKaGkKWFj6aDj6qDj6mEj6eFkKaFkKeEkKeFkKaFkKeFj6aEkKiEkKiFkKaFkKaFkKaFkKaFkKaFkKaGj6WDj6qGkaaFkKeEkKeFkKYRoZlhAAAAJXRSTlMArJ6Dl42JhjIK9OrKgFZGEg7St6V7cWkkBvvbwpDv32VNG9xAnYEtOAAAAOxJREFUKM91kEcSgzAQBEcEI5EzGIzz/v+LNiPjEgf6pKU1NSsAFD6OGEU2ea7Oe1d5IiegXLw6uSZz2z9dG4hEMKn8mFrtyI7JReQaWx26wTWJfDTlQ1FetuKGYwbLwKkG8Thw23ejgYxTs6qCx0StnUZJAdz4ZQCQ2AKETHpSwRdSoReigFik+8oCuZAT7n+X2OUNnd185iEFAl7+7z0ZQAsZUdb2Kb++HF/CLYg+aCkzlhBlG/krHtPa2fGq8/pXr59jEbPzXmFjiMUlgksZ7KyPvc2DS32bUzXoiMkDFpHQHElPROOItgPwARDnJL5vKjWIAAAAAElFTkSuQmCC) no-repeat center/cover;
}
.login-visible{
    width:22px;
    height:15px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAASCAMAAACdBVWvAAAAdVBMVEUAAACFkKaFkKaEj6iEj6iFkKaFkKaEj6iEj6aFkKaFkKaFkKeGkKaEkKiFj6eEkKeEj6aDj6qFkKaFkKeFkKaFkKaEkKeDj6iFj6WEj6mGkKaFkKeEj6iFkKaFkKaFkKeEkKeFkKWFkKaGkKWEkKiFj6eFkKZUOLFUAAAAJnRSTlMAtaZEEvzudh/04M2JZVlVMQTq1r6rjHBeTSsYDNzJr3s/oZORONHEUwQAAADKSURBVBjTXY/ZdoMwDAUH24DZIQUSQpqli///E9tI+GSZp7nykSWxMXTTR7hTJo3jhaYMD7IrD9ZEasXZjDux6siG18LPCpxy8fSG4DKJC8pvKrGXUInPYC/l2EKnAwZgr/PBijSgCxtwQUhif+qotdRH+eIUFMtBxXBTmRh2ap5c5QAXkc842MAYK/GvBeb0/2nA6xFy/qKLOvBtT1wzR9DZpZVwPEuq2WgLvWPfNVOIXRGfhGeqnmesyYJSJC3vOJvX3/O1W4n8ASdnJZYIRYZwAAAAAElFTkSuQmCC) no-repeat center/cover;
}
.forgot-pwd{
    display: inline-block;
    float:right;
    color:$theme-color;
}
.forgot-pwd:hover{
    color:$theme-color;
}
.login_qw{
    font-size: 34px;
}
.vertical-way{
    display: inline-block;
    vertical-align: middle;
}
.login-text{
    color:$base-font-color;
}
.login-link,.login-link:hover{
    color:$theme-color;
}
.reset-panel{
    width: 580px;
    padding: 0 45px 10px 45px;
    .reset-title{
        padding:41px 0 74px 0;
        color:#000;
        font-size:24px;
    }
}
.m-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
}
.m-nav li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.m-nav li a.active {
    color: $theme-color;
    border-color:$theme-color;
    background: none;
}
.m-nav li a {
    display: block;
    padding: 0;
    height:30px;
    line-height:20px;
    font-size:20px;
    color:$base-font-color;
    border-bottom: 2px solid transparent;
}
.reset-mess{
    margin-top: 17px;
}
.disables-btn{
    background:$disabled-btn;
}
.no-select,.no-selects{
    cursor:no-drop !important;
    pointer-events:none;
    -moz-user-select: none; 
    -o-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
}
.no-selects{
  background: $disabled-btn;  
}
.prompt-mess{
    padding:10px 5px;
    margin:5px 0;
    font-size:16px;
    color:#333;
    background:#ddd;
}