.bf-content {
  min-height: 200px;
  max-height: 500px;
  height: auto;
}

.bf-container {
  border: 1px solid #d9d9d9;
}

.headings-dropdown {
  width: 80px;
  min-width: 80px;
}

.font-family-dropdown {
  width: 92px;
  min-width: 92px;
}

.bf-font-size-dropdown {
  width: 68px;
  min-width: 68px;
}

.bf-dropdown .dropdown-handler>span {
  width: calc( 100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bf-dropdown .dropdown-handler .bfi-drop-down {
  width: 20px;
}
