.index-header {
  padding: 0;
  height: auto;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.index-name {
  padding: 12px 0;
  text-align: center;
  border-right: 1px solid #ddd;
  line-height: 30px;
}
.index-con {
  padding: 24px;
}
.index-sec {
  margin-bottom: 24px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.index-cert {
  padding: 0 24px;

  > span {
    margin-right: 12px;
  }
}
.index-per {
  font-weight: bold;
  color: #333;
}
.index-cert-has {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 47px;
  text-align: center;
  border-radius: 50%;
  background: #1890ff;
  vertical-align: middle;
}
.index-cert-no {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 47px;
  text-align: center;
  border-radius: 50%;
  background: #ccc;
  vertical-align: middle;
}
