@mixin cursor {
  cursor: move;
  cursor: grab;
}

.review-form {
  display: flex;
  height: 540px;
  user-select: none;
  color: rgba(0, 0, 0, .75);
  .base-form {
    margin-left: 24px;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    overflow: hidden;
    >.draggable-item {
      float: left;
      width: 150px;
      height: 36px;
      @include cursor
    }
  }
  .user-form {
    flex: 1;
    margin: 0 20px;
    padding: 20px;
    border: 1px solid #ccc;
    overflow: auto;
    background: #fafafa;
    >div {
      @include cursor
    }
    .draggable-item:hover {
      border-style: dashed;
      border-color: #4cd384;
    }
  }
  .draggable-item {
    border: 1px solid #ddd;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-bottom: 10px;
    border-radius: 3px;
    &.active {
      border-style: solid;
      border-color: #4cd384;
    }
  }
  .custom-form {
    padding-right: 24px;
    width: 160px;
    height: 100%;
  }
  .required::before {
    display: inline-block;
    margin-right: 4px;
    content: '*';
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
  }
}