$base_color:#1890ff;
.approval-drawer {
  color: #333;
  .ant-drawer-header {
    padding-right: 56px;
  }
  .ant-drawer-title {
    text-align: center;
  }
  .ant-drawer-right .ant-drawer-content-wrapper {
    top: 61px;
    height: calc(100% - 61px);
  }
  .ant-drawer-body {
    padding: 0;
    height: calc(100% - 55px);
  }
  .approval-drawer-con {
    padding: 24px;
    height: calc(100% - 53px);
    overflow-y: auto;
  }
  .drawer-full-screen {
    float: right;
    color: rgba(0, 0, 0, .45);
    font-size: 14px;
    cursor: pointer;
    i {
      border: 1px solid rgba(0, 0, 0, 0.45);
    }
  }
  .drawer-full-screen:hover {
    color: #444;
    i {
      border-color: #444;
    }
  }
  >div {
    transition: .3s;
  }
  .process-info {
    margin-bottom: 25px;
  }
  .apply-btn {
    margin-right: 20px;
  }
  .operate-btn {
    margin-left: 9px;
    font-size: 20px;
    color: $base_color;
  }
  .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-arrow {
    left: initial;
    right: 16px;
    line-height: 64px;
  }
  .ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 12px 0 12px 0px;
  }
  .ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content {
    background-color: #f9f9f9;
  }
  .ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
    padding-top: 16px;
  }
  .ant-collapse>.ant-collapse-item {
    border-bottom: none;
  }
}