.select-participant {
  .selected-participants {
    padding: 10px 0;
    height: 404px;
    width: 280px;
    background: #fafafa;
    box-shadow: rgb(204, 204, 204) 0px 0px 6px 0px;
    overflow-y: auto;
    .selected-participant {
      padding: 4px 20px;
      position: relative;
      &:hover {
        background-color: #f2f2f2;
      }
      .participant-avatar {
        margin-right: 6px;
        vertical-align: middle;
        background-color: #87d068;
      }
      i.close {
        position: absolute;
        width: 21px;
        right: 10px;
        cursor: pointer;
      }
    }
  }
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
  }
  .ant-tabs-bar{
    margin: 0;
  }
}
