.settings {
  margin: 15px auto;
  padding: 24px 0;
  width: 1000px;
  height: 520px;
  .ant-menu-item-selected {
    font-weight: bold;
  }

  .settings-sider {
    float: left;
    height: 100%;
    overflow-y: auto;
    box-shadow: -1px 0px 6px #ccc;
    background: #fafafa;
  }
  .settings-menu {
    background: #fafafa;
  }

  .settings-con {
    padding: 0 24px;
    height: 100%;
    overflow-y: auto;
    box-shadow: 0 1px 6px #ccc;
    background: #fff;
  }
}
.settings-con {
  .avatar-uploader > .ant-upload.ant-upload-select-picture-card{
    width: 128px;
    height: 128px;
  }
  .avatar-uploader > .ant-upload img{
    width: 100%;
  }
}
