$primary-color: #1890ff;
$border-color-split: hsv(0, 0, 91%);
.sider {
  position: fixed;
  top: 0;
  left: 0;
  width: 265px;
  height: 100vh;
  z-index: 10;
  text-align: left;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  overflow-y: auto;
  .company-name {
    display: block;
    height: 60px;
    line-height: 60px;
    background: #002140;
    color: #fff;
    text-align: center;
  }
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: 0.3s;
}
.trigger:hover {
  color: #1890ff;
}
.ee-header {
  position: fixed;
  z-index: 9;
  padding: 0;
  width: 100%;
  top: 0;
  right: 0;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  transition: width 0.2s;
}
