$basecolor:#38adff;
.management {
  .parmary-color {
    color: $basecolor;
  }
  .parmary-bg {
    background: $basecolor;
  }
  .type-btn {
    margin-right: 20px;
  }
  .operate-btn {
    display: inline-block;
    padding: 0 15px;
    margin-right: 20px;
    height: 32px;
    line-height: 32px;
    border: 1px solid $basecolor;
    color: $basecolor;
    font-weight: 400;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  }
  // .tem-content {
  //   line-height: 93px;
  //   border: 1px solid #eee;
  // }
  // .tem-detail {
  //   border: none;
  // }
  // .avatar-type {
  //   background-color: #38adff;
  //   vertical-align: middle;
  //   width: 50px;
  //   height: 50px;
  //   line-height: 50px;
  // }
  .sort-wrapper {
    padding-left: 30px;
  }
  .sort-list {
    padding: 13px 30px;
    border: 1px solid #eee;
    border-left: none;
  }
  .templateWrapper{
    .templateText{
      width: 33%!important;
      margin-bottom: 10px;
    }
    .ant-card-body{
      padding: 19px 24px;
    }
  }
  .delete{
    position:absolute;
    top:1px;
    right:-3px;
    font-size:20px;
    color:$basecolor;
  }
}
