.permission-wrapper {
  .permission-top {
    margin-bottom: 20px;
  }
  .list-item {
    padding: 20px 30px;
    border-bottom: 1px solid #ebedf0;
    cursor: pointer;
    align-items: center;
  }
  .list-item:hover,
  .list-item.active {
    background: rgba(230, 247, 255, 0.5);
  }
}