.buy-item{
  width: 150px;
  height: 60px;
  line-height:60px;
  font-size: 14px;
  border: 1px solid #dcdcdc;
  border-top: none;
  background: #ffffff;
  &.first{
    border-top: 1px solid #dcdcdc;
  }
}
.headline{
  display: inline-block;
  color: black;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}
.buy-item.active{
  border-right: none;
}




