.caption{
  padding-left:65px;
  margin-top:30px;
}
input{
  width:260px;
  height: 38px;
  border: 1px solid #dddddd;
  color: #c5c5c7;
  margin-left: 20px;
}
.genre::placeholder{
 color:#000000;
}
