.buy-people{
.title{
  width: 370px;
  height: 19px;
  font-size: 16px;
  color: black;
  margin-top: 40px;
  margin-bottom: 20px;
}
table{
  width: 950px;
  border: 1px soli
}
}
.month button{
  width: 120px;
  height: 36px;
  margin-right: 29px;
}
.btn-month.active{
  background: #26A0FD;
  color: white;
}
.initiate{
  margin-top: 30px;
}
.initiate button{
  width: 170px;
  height: 58px;
}
.pay{
 margin-left: 20px;  
}
.pay-name {
  width: 426px;
  margin-left: 28px;
  border: 1px solid #eeeeee;

}
.heading {
  display: inline-block;
  width: 120px;

  vertical-align: middle;
  margin-bottom: 15px;
}

.content {
  display: inline-block;
  width: 220px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.price {
  display: inline-block;
  width: 220px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.date {
  display: inline-block;
  width: 220px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.price a {
  color: #ec971f;
  font-size: 22px;
}

.price span {
  text-decoration: line-through;
}

.prompt {
  font-size: 9px;
  margin-bottom: 5px;
}
.code{
  float: left;
}
.ewm{
  width: 128px;
  height: 128px;
  border: 1px solid #dcdcdc;
  box-shadow: 0px 2px 8px 0px rgba(204, 204, 204, 1);
}
.pay{
  float: left;
  overflow: hidden;
  font-size: 20px;
}
.pay a{
  color: #ec971f;
}

.weixin{
  background:url(../../assets/img/pay_wx.png); 
  width: 27px;
  height: 27px;
  display: inline-block;
  margin-left: 21px;
  
}
.zhifu{
  background:url(../../assets/img/pay_zfb.png); 
  width: 27px;
  height: 27px;
  display: inline-block;
}
.introduce{
  font-size: 14px;
  margin-bottom: 20px;

}
