.app-setting {
  .app-setting-title {
    background-color: #fafafa;
    border: 1px solid #ccc;
    line-height: 50px;
    > div {
      padding: 0 16px;
    }
  }
  .app-setting-item {
    padding: 12px 0;
    border-bottom: 1px solid #ddd;

    > div {
      padding: 0 16px;
    }
  }
}
