.company-wrapper {
  .form {
    margin-top: 20px;
  }
  .license-top {
    padding: 20px 10px 10px 50px;
    .show-info{
      display: inline-block;
      margin:0 5px;
      font-size: 20px;
    }
  }
}

.red {
  color: #F53E3E;
}