@import '../../../index.scss';

:global(.ant-drawer){
    top: 61px;
}

.header{
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    padding-left: 24px;
    height: 55px;
    line-height: 55px;
    font-size: 16px;
    color: #222;
    background: #fdfdfd;
    @include box-shadow;

    .des{
        display: inline-block;
        margin-left: 20px;
    }

}
.content{
    padding: 24px;

    .section{
        margin-bottom: 24px;
    }
    .section::after{
        display: block;
        content: '';
        clear: both;
    }
}